.logo{
    float:left;
    width:15%;
    height: 50px;
    background-color:lightgrey;
}
.header h1{
    margin:auto;
    padding-left: 10px;
    padding-top: 7px;
}

.header{
    margin: 0px;
    
}
.nav{
    float:right;
    text-align: end;
    background-color:lightgrey;
    height: 50px;
}
.nav{
    width:85%;
   
    
}
.header .nav li{
    font-family: cursive;
    font-size: 30px;
    display: inline;
    margin-left: 3%;
    padding-right: 20px;
    
}
.nav ul{
    margin-top: 10px;
}
a:hover{
    color: blue;
}
a{
    text-decoration: none;
    color: black;
    
}

#abc{
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display:flex;
    width:100%;
    height:100%;
    margin-top: 20px;
    padding-top: 50px;
    color: white;
    overflow: hidden;
    flex-flow: row wrap;
    justify-content: space-around;
}

#abc img {
    width: 300px;
    height:300px;
}
#abcd
{
    margin-top: 10%;
    overflow: hidden;
    height:65%;
}
#abcd h3{
    background-color:lightslategray;
    opacity:0.8;
    font-weight: bold;
}
#abcd p{
    background-color: lightslategray;
    opacity:0.8;
    font-weight: bold;

}
#foot{
    height:20%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color:black;
    font-family: Verdana;
    opacity:0.8;
    background-color: grey;
    margin: 0px;
    font-weight: bold;
    font-size: 15px;
    
}
#foot1{
    text-align: justify;
}
#foot2{
    display: flex;
    flex-direction: column;
}
#foot2 .grid_2{
    margin:0;
    
}
#copyrights{
    background-color: darkgray;
    opacity:0.8;
    font-weight: bold;
    color:black;
    display:flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
    justify-content: space-around;

}
#copy1{
    float:left;

}
#copy2{
    float:right;
}
#copy2 img{
    width:5%;
    height:5%;
}

.footer-class
{
    background-color: black;
    display: flex;
    width: 100%;
    margin-top: 4rem;
}
.contact{
    padding:1rem 50rem 0 3.4rem;
}
.social-media{
    padding-top:1rem;
}
.social-media span{
    line-height: -2rem;
}

